.header-container {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  font-weight: 400;
  background: #d47777;
  color: white;
}

@media only screen and (max-width: 600px) {
  .header-container {
    font-size: 14px;
  }
} 
.header-heading {
  text-transform: capitalize;
}
.finish-button {
  margin-left: auto;
  width: 130px;
  height: 44px;
  font-size: 18px;
  border-radius: 30px;
  background: #b61515;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 800;
}


